/* purple about container */

.about-main-container {
  background-color: var(--purple);
  padding: 2em;
  border-radius: 1rem;
  margin: 3em 1em 4em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5em;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(155, 164, 181, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(155, 164, 181, 1);
  box-shadow: 10px 10px 5px 0px rgba(155, 164, 181, 1);
}

.my-photo-container {
  width: 300px;
  height: 500px;
}

.my-photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
}

.about-info-container p {
  text-align: center;
}

.cv-button {
  color: var(--white);
  background-color: var(--black);
  padding: 0.8em 2em;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 1.3rem;
  margin-top: 2em;
  display: inline-block;
}

.cv-button:hover {
  background-color: var(--white);
  color: var(--black);
}

.cv-logo {
  margin-left: 0.5em;
}

/* experience and education timeline */

.experience-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

.experience-title h4:first-of-type {
  margin-right: 1.5em;
}

.experience-title h4 {
  cursor: pointer;
  border: 1px solid var(--black);
  padding: 0.5em 1.2em;
  border-radius: 1.3rem;
}

.experience-title h4:not(.selected):hover {
  color: var(--purple);
  border: 1px solid var(--purple);
  background-color: var(--white);
}

.selected {
  color: var(--white);
  background-color: var(--black);
  cursor: default !important;
}

/* Tablet devices */
@media (min-width: 576px) {
  .about-main-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0;
  }
}
