.home-section {
  padding-top: 8em;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  margin-top: 2em;
  margin-bottom: 7em;
}

.name {
  color: var(--purple);
}

.action-button {
  color: var(--white);
  background-color: var(--black);
  padding: 0.8em 2em;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 1.3rem;
  margin-top: 2em;
}

.action-button:hover {
  background-color: var(--purple);
}

.home-logo-container {
  display: none;
}

/* Tablet devices */
@media (min-width: 576px) {
}

/* Laptop devices */
@media (min-width: 768px) {
}
/* Desktop */
@media (min-width: 992px) {
  .home-container {
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 3em;
  }

  .home-logo-container {
    width: 400px;
    height: 320px;
    display: block;
  }

  .home-logo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/* Large devices */
@media (min-width: 1200px) {
  .home-container {
    padding: 0 1em;
    margin-top: 4em;
    margin-bottom: 10em;
  }
}

/* XXL devices */
@media (min-width: 1400px) {
}
