.home-section {
  padding-top: 8em;
}

.title {
  padding: 0 1em;
}

.name {
  color: var(--purple);
}

.action-button {
  color: var(--white);
  background-color: var(--black);
  padding: 0.8em 2em;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 1.3rem;
  margin-left: 1em;
  margin-top: 2em;
}

.action-button:hover {
  background-color: var(--purple);
}
