:root {
  box-sizing: border-box;
  font-size: 0.985rem;
  --purple: #d4adfc;
  --black: #212a3e;
  --white: #f5f5f5;
  --grey: #9ba4b5;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  border: 0;
  padding: 0;
  outline: none 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--white);
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Signika Negative", sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* general classes */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-section {
  margin-top: 4em;
}

.section-header {
  margin: 0 1em;
}

.divider {
  width: 42px;
  height: 4px;
  border-radius: 0.3rem;
  background: var(--black);
}

.section-title {
  margin-top: 0.5em;
}

/* Tablet devices */
@media (min-width: 576px) {
}
/* Laptop devices */
@media (min-width: 768px) {
}
/* Desktop */
@media (min-width: 992px) {
}
/* Large devices */
@media (min-width: 1200px) {
}
/* XXL devices */
@media (min-width: 1400px) {
}
